h1 {
	/*font-size: 60px;*/
	font-family: Bodoni 72, serif;
	/*color: #707070; */
	text-align: left;
	padding: 15px 0;
	margin-top: 30px;
}

div {
	padding-left: 8%;
	padding-right: 8%;
}


p {
  padding: 0 20px;
  margin: 0;
}



/*#contact {
	padding-right: 300px 0;
}*/



#bar {
	padding: 20px;
}


/*#head {
	text-align: left;
	font-size: 20px;
	padding-top: 18px;
}*/

#title {
	text-align: left;
	font-size: 20px;/*
	font-family: 'Hind', sans-serif;*/
	padding-top: 20px;
}

#body {
	text-align: left;
	font-size: 16px;/*
	font-family: 'Hind', sans-serif;*/
	/*font-family: 'Bellefair', serif;*/
	/*font-family: 'GFS Didot', serif;*/
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
     color:#73213D; 
     text-decoration:none; 
     cursor:pointer;  
}

.jumbotron {
	padding-top: 15px;
}

