hr {
  background-color:black;
  height: 1px;
}

button {
  border: solid;
  color: #9F6A7C;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  border: solid;
  color: #9F6A7C;
  background-color: #9F6A7C;
  border-color: #9F6A7C;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#readmore {
	margin-top: 18px;
}


#projname {
	text-align: left;
	font-size: 52px;
	padding-top: 18px;
	font-family: 'Futura'
}

#tags {
	text-align: left;
	font-size: 14px;
	padding-top: 18px;
}

#overview {
	text-align: left;
	font-size: 16px;
	padding-top: 18px;
}

#intro {
	padding-left: 8%;
	padding-right: 8%;
}

div {
	padding-left: 8%;
	padding-right: 8%;
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	/*font-size: 60px;*/
	/*font-family: Bodoni 72, serif;*/
	/*color: #707070;*/ 
	text-align: left;
	padding: 15px 0;
	margin-top: 30px;
}


header .row,
footer .row {
  display: flex;
  align-items: center;
}


#contact {
	padding-right: 300px 0;
}

#bar {
	padding: 20px;
}



a {
    color: black;
    text-decoration: none;
}

a:hover {
     color:#73213D; 
     text-decoration:none; 
     cursor:pointer;  
}
