#enter {
  color: #9F7986;
  font-family: Futura;

}

#enter:hover {
  color: #73213D; 
    text-decoration: none;
    cursor:pointer;  
}

body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  /*background: black;*/
  background-image: url(yuh.png);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
	font-family: 'Futura';
	margin-bottom: 6px; 
	text-align: center;

}

a {
	font-family: 'Futura';
  padding-left: 2%;
  padding-right: 2%;
	/*text-align: right;*/
}


/*
b {
	text-align: center;
}*/
