@import url("fonts.css");
@import url('https://rsms.me/inter/inter.css');

.container {
  margin-left: 0px;
  margin-right: 0px;
}

#final {
  background-color: #EEEEEE;
  width:100%;
}


#projname {
  text-align: right;
  font-size: 52px;
  padding-top: 18px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 18px;
  font-weight: bold;
}

#tags {
  text-align: right;
  font-size: 14px;
  padding-top: 18px;
}

#overview {
  text-align: right;
  font-size: 16px;
  padding-top: 18px;
}

#sectiontitle {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 12px;
  font-weight: bold;
  padding-bottom: 10px;
}

#subsectiontitle {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

#sectiontitle {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
}

#subsectiontitle {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

#sectiontext {
	text-align: left;
}

#subsectiontitle {
	color: #282828;
	font-weight: bold;
}

#subsectiontext {
	color: #282828;
}

li {
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: left;
}

.row-content {
  padding-left: 13%;
  padding-right: 13%;
  display: block;
}

.projects {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 80px;
}

hr {
  background-color:black;
  height: 1px;
}

button {
  border: solid;
  color: #9F6A7C;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  border: solid;
  color: #9F6A7C;
  background-color: #9F6A7C;
  border-color: #9F6A7C;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#readmore {
	margin-top: 18px;
}

#light {
  /*background-color: #363636;*/
  /*display: inline-block;*/
}



#head {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2%;
  /*padding-bottom: 2%;*/
}

div {
	/*padding-left: 2%;
	padding-right: 2%;*/
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  /*display: inline;*/
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  background-color: #282828;
  color: #C8C8C8;
  font-family: 'Inter', sans-serif;
}



h1 {
	/*font-size: 60px;*/
	/*font-family: Bodoni 72, serif;*/
	color: #707070; /*cream*/
	text-align: left;
	padding: 15px 0;
	margin-top: 30px;
}

/*p {
  color: #C8C8C8;
}*/

header .row,
footer .row {
  display: flex;
  align-items: center;
}


#bar {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 60px;
  /*font-family: "montserrat-medium", sans-serif;*/
  font-family: 'Inter', sans-serif;
}



a {
    color: #854059;
    /*color: #F0F0F0;*/
    text-decoration: none;
}

a:hover {
     color:#73213D; 
     /*color: #854059;*/
     text-decoration:none; 
     cursor:pointer;  
}

.current-link {
    color: #73213D;
}

/*@media (min-width: 1200px) .container {
  width: 100%;
}
*/

